## Training Exercises Week2

### Training Exercise 2.1.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
from statsmodels.formula.api import ols
import statsmodels.stats.api as sms
import statsmodels.api as sm
import os
from pathlib import Path

In [2]:
base_dir = os.path.join('',Path(os.getcwd()).parents[0])
data_dir = os.path.join(base_dir, 'Data')

In [3]:
data = pd.read_excel(data_dir+'/TrainExer21.xlsx')
data.head()

     Observation  Wage   LogWage  Female  Age  Educ  Parttime
0              1    66  4.189655       0   49     1         1
1              2    34  3.526361       1   42     1         1
2              3    70  4.248495       1   42     1         1
3              4    47  3.850148       0   38     1         0
4              5   107  4.672829       1   54     1         1
..           ...   ...       ...     ...  ...   ...       ...
495          496   139  4.934474       0   32     4         0
496          497   124  4.820282       0   33     4         0
497          498   173  5.153292       0   38     4         0
498          499   154  5.036953       0   27     4         0
499          500   141  4.948760       0   29     4         0

[500 rows x 7 columns]

**a) Use dataset TrainExer21 to regress log-wage on a constant and the gender dummy ‘Female’, and check the
result presented in Lecture 2.1 that log(Wage) = 4.73 − 0.25Female + e.**

In [4]:
reg1 = ols('LogWage ~ Female',data=data).fit(cov_type='HC3')
print(reg1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                LogWage   R-squared:                       0.073
Model:                            OLS   Adj. R-squared:                  0.071
Method:                 Least Squares   F-statistic:                     39.08
Date:                Tue, 07 Feb 2023   Prob (F-statistic):           8.74e-10
Time:                        02:28:36   Log-Likelihood:                -289.67
No. Observations:                 500   AIC:                             583.3
Df Residuals:                     498   BIC:                             591.8
Df Model:                           1
Covariance Type:                  HC3
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      4.7336      0.024    193.281      0.000       4.686       4.782
Female        -0.2506      0.040     -6.252      0.000      -0.329      -0.172
==============================================================================
Omnibus:                        8.320   Durbin-Watson:                   1.383
Prob(Omnibus):                  0.016   Jarque-Bera (JB):                7.001
Skew:                           0.212   Prob(JB):                       0.0302
Kurtosis:                       2.604   Cond. No.                         2.42
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)

In [5]:
sentence= '{} = {}'
b,a,r_value,p_value,std_err = stats.linregress(x=data.Female,y=data.LogWage)
print(sentence.format('b',b.round(2)))
print(sentence.format('a',a.round(2)))
print(sentence.format('rsq',(r_value**2).round(2)))

b = -0.25
a = 4.73
rsq = 0.07

In [6]:
print('{} = {}Female + {} + {}'.format('LogWage',b.round(2),a.round(2),'e'))

LogWage = -0.25Female + 4.73 + e

**a) Female -> -25% wage, as b in reg1 = 0.25 (negative)** - A female, in equality/non-prevalence of the rest of factors would earn a 25% less than a male

**b) Let e be the series of residuals of the regression in part (a). Perform two regressions:**

(i) e on a constant and education;

(ii) e on a constant and the part-time job dummy

In [7]:
data['e'] = reg1.resid
data

     Observation  Wage   LogWage  Female  Age  Educ  Parttime         e
0              1    66  4.189655       0   49     1         1 -0.543990
1              2    34  3.526361       1   42     1         1 -0.956641
2              3    70  4.248495       1   42     1         1 -0.234507
3              4    47  3.850148       0   38     1         0 -0.883497
4              5   107  4.672829       1   54     1         1  0.189827
..           ...   ...       ...     ...  ...   ...       ...       ...
495          496   139  4.934474       0   32     4         0  0.200830
496          497   124  4.820282       0   33     4         0  0.086637
497          498   173  5.153292       0   38     4         0  0.419647
498          499   154  5.036953       0   27     4         0  0.303308
499          500   141  4.948760       0   29     4         0  0.215116

[500 rows x 8 columns]

In [8]:
data['e'].mean()

-5.901057420487632e-15

In [9]:
regb1 = ols('e ~  Educ',data=data).fit()
print(regb1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      e   R-squared:                       0.284
Model:                            OLS   Adj. R-squared:                  0.282
Method:                 Least Squares   F-statistic:                     197.4
Date:                Tue, 07 Feb 2023   Prob (F-statistic):           5.19e-38
Time:                        02:28:37   Log-Likelihood:                -206.19
No. Observations:                 500   AIC:                             416.4
Df Residuals:                     498   BIC:                             424.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.4526      0.036    -12.525      0.000      -0.524      -0.382
Educ           0.2178      0.016     14.051      0.000       0.187       0.248
==============================================================================
Omnibus:                        4.162   Durbin-Watson:                   1.929
Prob(Omnibus):                  0.125   Jarque-Bera (JB):                4.201
Skew:                           0.201   Prob(JB):                        0.122
Kurtosis:                       2.799   Cond. No.                         5.92
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
sentence= '{} = {}'
b,a,r_value,p_value,std_err = stats.linregress(x=data.Educ,y=data.e)
print(sentence.format('b',b.round(2)))
print(sentence.format('a',a.round(2)))
print(sentence.format('rsq',(r_value**2).round(2)))
print(sentence.format('seb',std_err.round(3)))
print(sentence.format('pvalue',p_value.round(3)))

b = 0.22
a = -0.45
rsq = 0.28
seb = 0.016
pvalue = 0.0

In [11]:
print('{} = {}Educ {} + {}'.format('e',b.round(2),a.round(2),'Resid'))

e = 0.22Educ -0.45 + Resid

In [12]:
regb2 = ols('e ~ Parttime',data=data).fit()
print(regb2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      e   R-squared:                       0.011
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     5.390
Date:                Tue, 07 Feb 2023   Prob (F-statistic):             0.0207
Time:                        02:28:37   Log-Likelihood:                -286.97
No. Observations:                 500   AIC:                             577.9
Df Residuals:                     498   BIC:                             586.4
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0284      0.023     -1.246      0.213      -0.073       0.016
Parttime       0.0987      0.043      2.322      0.021       0.015       0.182
==============================================================================
Omnibus:                        7.488   Durbin-Watson:                   1.376
Prob(Omnibus):                  0.024   Jarque-Bera (JB):                6.638
Skew:                           0.218   Prob(JB):                       0.0362
Kurtosis:                       2.640   Cond. No.                         2.43
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [13]:
sentence= '{} = {}'
b,a,r_value,p_value,std_err = stats.linregress(x=data.Parttime,y=data.e)
print(sentence.format('b',b.round(2)))
print(sentence.format('a',a.round(2)))
print(sentence.format('rsq',(r_value**2).round(3)))
print(sentence.format('seb',std_err.round(3)))
print(sentence.format('pvalue',p_value.round(3)))

b = 0.1
a = -0.03
rsq = 0.011
seb = 0.043
pvalue = 0.021

In [14]:
print('{} = {}Parttime {} + {}'.format('e',b.round(2),a.round(2),'Resid'))

e = 0.1Parttime -0.03 + Resid

**b-i) educ + 1 -> +22% wage not explained by gender, as b in regb1 = 0.22 (positive)**

**b-ii) parttime -> +10% wage not explained by gender, as b in regb2 = 0.10 (positive).** This model suggests us that parttime jobs lead to higher salaries, which is contradictory. It may be due to multicolinearity in the variable "Parttime", as it could have correlation with other factors

In [15]:
from stargazer.stargazer import Stargazer
from IPython.core.display import HTML

In [16]:
stargazer = Stargazer([regb1,regb2])
stargazer

In [17]:
reg3 = ols('LogWage ~ Female + Parttime + Educ', data=data).fit(cov_type='HC3')
print(reg3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                LogWage   R-squared:                       0.358
Model:                            OLS   Adj. R-squared:                  0.354
Method:                 Least Squares   F-statistic:                     101.5
Date:                Tue, 07 Feb 2023   Prob (F-statistic):           2.94e-51
Time:                        02:28:37   Log-Likelihood:                -197.60
No. Observations:                 500   AIC:                             403.2
Df Residuals:                     496   BIC:                             420.1
Df Model:                           3
Covariance Type:                  HC3
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      4.1988      0.041    102.573      0.000       4.119       4.279
Female        -0.1614      0.037     -4.318      0.000      -0.235      -0.088
Parttime       0.0940      0.037      2.568      0.010       0.022       0.166
Educ           0.2286      0.015     15.139      0.000       0.199       0.258
==============================================================================
Omnibus:                        2.475   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.290   Jarque-Bera (JB):                2.534
Skew:                           0.168   Prob(JB):                        0.282
Kurtosis:                       2.904   Cond. No.                         7.51
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)

a = 4.1988

*LogWage = 4.20 - 0.161Female + 0.094Parttime + 0.228Educ + e*

In [18]:
emulti = reg3.resid
emulti.mean()

-1.2789769243681803e-15

### Training Exercise 2.2.

**(a) The wage equation presented at the start of Lecture 2.2 contains four explanatory factors (apart from the
constant term). Formulate the null hypothesis that none of these four factors has effect on wage in the form
R = r, that is, determine R and r.**

β1 + β2Femalei + β3Agei + β4Educi + β5Parttimei + εi

β2=0, β3=0, β4=0, β5=0

r=0

In [19]:
reg22 = ols('LogWage ~ Female + Age + Parttime + Educ',data=data).fit()
print(reg22.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                LogWage   R-squared:                       0.704
Model:                            OLS   Adj. R-squared:                  0.702
Method:                 Least Squares   F-statistic:                     294.3
Date:                Tue, 07 Feb 2023   Prob (F-statistic):          2.50e-129
Time:                        02:28:37   Log-Likelihood:                -4.1913
No. Observations:                 500   AIC:                             18.38
Df Residuals:                     495   BIC:                             39.46
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.0527      0.055     55.168      0.000       2.944       3.161
Female        -0.0411      0.025     -1.663      0.097      -0.090       0.007
Age            0.0306      0.001     24.041      0.000       0.028       0.033
Parttime      -0.3654      0.032    -11.576      0.000      -0.427      -0.303
Educ           0.2332      0.011     21.874      0.000       0.212       0.254
==============================================================================
Omnibus:                        0.975   Durbin-Watson:                   1.874
Prob(Omnibus):                  0.614   Jarque-Bera (JB):                0.787
Skew:                           0.001   Prob(JB):                        0.675
Kurtosis:                       3.194   Cond. No.                         223.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [20]:
emulti = reg22.resid
data['eimulti'] = emulti
data

,Observation,Wage,LogWage,Female,Age,Educ,Parttime,e,eimulti
0,1,66,4.189655,0,49,1,1,-0.543990,-0.230462
1,2,34,3.526361,1,42,1,1,-0.956641,-0.638412
2,3,70,4.248495,1,42,1,1,-0.234507,0.083723
3,4,47,3.850148,0,38,1,0,-0.883497,-0.598750
4,5,107,4.672829,1,54,1,1,0.189827,0.140782
...,...,...,...,...,...,...,...,...,...
495,496,139,4.934474,0,32,4,0,0.200830,-0.030322
496,497,124,4.820282,0,33,4,0,0.086637,-0.175120
497,498,173,5.153292,0,38,4,0,0.419647,0.004859
498,499,154,5.036953,0,27,4,0,0.303308,0.225188
499,500,141,4.948760,0,29,4,0,0.215116,0.075783

In [21]:
import math

In [22]:
RSQ = 0.704
b4 = 0.2332

*The marginal effect of a single increase in education level is 0.2332*

**b) Extend the wage equation presented at the start of Lecture 2.2 by allowing for education effects that depend
on the education level.
Hint: Use dummy variables for education levels 2, 3, and 4.**

In [23]:
data['DF2'] = np.where(data['Educ']==2, 1, 0) #creando series binomiales
data['DF3'] = np.where(data['Educ']==3,1,0)
data['DF4'] = np.where(data['Educ']==4,1,0)
data

,Observation,Wage,LogWage,Female,Age,Educ,Parttime,e,eimulti,DF2,DF3,DF4
0,1,66,4.189655,0,49,1,1,-0.543990,-0.230462,0,0,0
1,2,34,3.526361,1,42,1,1,-0.956641,-0.638412,0,0,0
2,3,70,4.248495,1,42,1,1,-0.234507,0.083723,0,0,0
3,4,47,3.850148,0,38,1,0,-0.883497,-0.598750,0,0,0
4,5,107,4.672829,1,54,1,1,0.189827,0.140782,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,139,4.934474,0,32,4,0,0.200830,-0.030322,0,0,1
496,497,124,4.820282,0,33,4,0,0.086637,-0.175120,0,0,1
497,498,173,5.153292,0,38,4,0,0.419647,0.004859,0,0,1
498,499,154,5.036953,0,27,4,0,0.303308,0.225188,0,0,1
499,500,141,4.948760,0,29,4,0,0.215116,0.075783,0,0,1

*Analyzing the **DETAILED** marginal effect of each level of higher education on wages*

In [24]:
reg22b = ols('LogWage ~ Female + Age + Parttime + DF2 + DF3 + DF4',data=data).fit()
print(reg22b.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                LogWage   R-squared:                       0.716
Model:                            OLS   Adj. R-squared:                  0.713
Method:                 Least Squares   F-statistic:                     207.3
Date:                Tue, 07 Feb 2023   Prob (F-statistic):          2.46e-131
Time:                        02:28:37   Log-Likelihood:                 6.2950
No. Observations:                 500   AIC:                             1.410
Df Residuals:                     493   BIC:                             30.91
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.3180      0.051     64.554      0.000       3.217       3.419
Female        -0.0309      0.024     -1.267      0.206      -0.079       0.017
Age            0.0304      0.001     24.269      0.000       0.028       0.033
Parttime      -0.3659      0.031    -11.813      0.000      -0.427      -0.305
DF2            0.1705      0.027      6.308      0.000       0.117       0.224
DF3            0.3805      0.029     12.996      0.000       0.323       0.438
DF4            0.7655      0.035     21.610      0.000       0.696       0.835
==============================================================================
Omnibus:                        1.174   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.556   Jarque-Bera (JB):                1.001
Skew:                           0.001   Prob(JB):                        0.606
Kurtosis:                       3.219   Cond. No.                         221.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
bDF2=0.17
bDF3=0.38
bDF4=0.766
#From level 1 to level 2
print(bDF2)
#From level 1 to level 3
print(bDF3)
#From level 1 to level 4
print(bDF4)

0.17
0.38
0.766

In [26]:
#From level 1 to level 2
print(bDF2)
#from level 2 to level 3
print(bDF3-bDF2)
#from level 3 to level 4
print(bDF4-bDF3)

0.17
0.21
0.386

In [27]:
#from level 2 to level 4
print(bDF4-bDF2)

0.596

*The effect gets higher for each marginal increase in the education level*

**c)The model of part (b) is more general than the original wage equation. The original model can be obtained
from the model in part (b) by imposing linear restrictions of the type R = r. Derive the number of restrictions
(g) and determine R and r.**

In [28]:
#From level 1 to level 2
print(b4)
#From level 1 to level 3
print(b4*2)
#From level 1 to level 4
print(b4*3)

0.2332
0.4664
0.6996

In [29]:
#LVL 1 TO 2 - COMPARISON
print(b4-bDF2)

#LVL 2 to 3 - COMPARISON
print(b4-(bDF3-bDF2))

#LVL 3 to 4 - COMPARISON
print(b4-(bDF4-bDF3))

#LVL 1 to 4 - COMPARISON
print(3*b4-(bDF4))

0.06319999999999998
0.0232
-0.15280000000000002
-0.06640000000000001

*The marginal effect given by alternative model b is bigger for higher education levels. In changes within the lower level (1 to 2 and even 2 to 3, the marginal effect is highen in both cases on the original model a).*  **The accumulated effect (from 1 to 4) is higher on the bmodel, due to the huge difference in the marginal effect of the change from lvl 3 to lvl 4**

In [30]:
#From level 1 to level 2
print(b4)
#from level 2 to level 3
print(b4)
#from level 3 to level 4
print(b4)

0.2332
0.2332
0.2332

So, **DF2 = b4, DF3 = 2b4 and DF4 = 3b4**